<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%X{client-request-uri}:%X{client-request-uri-transformed}:%X{client-request-method}:%X{client-request-status}:%X{client-request-duration}] %-5level - %msg%n</pattern>
        </encoder>
    </appender>
    <root level="debug">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>